.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.shop-container{
    display: grid;
    grid-template-columns:4 1fr;
}
.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 70px;
}

.btn-proced {
    width: 90%;
    height: 56px;
    font-size: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    background: #F90;
    color: white;
    align-items: center;
    text-decoration: none;

}
.proced-link{
    text-decoration: none;
}