.review-item {
    width: 570px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.review-item img {
    width: 91px;
    height:91px;
    border-radius: 6px;
   
}

.review-detail {
    flex-grow: 1;
    margin: 0px 15px;
}

.review-title {
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.orange-text {
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #F90;
}
.btn-delete{
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    background-color: rgba(235, 87, 87, 0.30);;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.delete-icon{
    color: #EB5757;
    font-size: 20px;
}